html,body{
  padding:0;
  margin:0;
}

body {
  font-size: 16px;
  background-color: #3aa;
}

div {
  box-sizing: border-box;
  position: relative;
}

.mainbox {
  border-radius: 0.3em 5em 5em;
  width: 50%;
  margin-top: 3em;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-color: #ccc;
}

.quotebox {
  width: 85%;
  padding-top: 0.5em;
  margin-top: 2em;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
  text-align: center;
}

.attributionbox {
  width: 80%;
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
}

.quotebox i {
  font-size: 2em;
  margin-right: 0.8em;
}

#quotetext p {
  font-size: 2em;
  display: inline;
}

#attribution {
  font-size: 1.3em;
  font-style: italic;
  align-self: right;
}

.buttonbox {
  padding: 0.5em;
  width: 40%;
  margin-bottom: 1em;
  margin-top:0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 45px;
}

#tweetbutton {
  float: left;
  border-radius: 2em;
}

#quotebutton {
  float: right;
}
